body{
  font-family: sans-serif;
}
/* utility classes */
i {
  margin: 10px;
}
.pr_1{
  padding-right: 1rem;
}
.pl_1{
  padding-left: 1rem;
}
/* header rules */
header{
  position: relative;
  height: 600px;
  background-image: url('../img/biciclette-milano.jpg');
  background-repeat: no-repeat;
  background-position: 50% 16%;
  background-size: cover;
  color: white;
}

header a{
  color: black;
  padding: 0 13px;
}

nav{
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: white;
}

.header_logo img{
  height: 20px;
  margin-left: 80px;
  margin-top: 22px;
  text-align: center;
  cursor: pointer;
}
.header_menu {
  text-align: right;
}

.list_inline li {
  list-style: none;
  display: inline-block;
}

a{
  text-decoration: none;
}

.header_menu, .header_langs{
  font-size: 0.65rem;
  font-weight: bold;
  text-transform: uppercase;
}

.header_langs li:not(:last-child) a{
  border-right: 1px solid black;
}

.hero_text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.hero_text h1{
  font-size: 3em;
  text-shadow: 2px 2px 2px #777777;
}
.hero_text p{
  margin: 20px 0 15px;
  line-height: 2;
  text-shadow: 2px 2px 1px #777777;
}
.hero_text img{
  width: 150px;
}

/* main_content */
#models{
  padding: 2.5rem;
}
#models .card{
  padding: 90px 40px 0;
  background: #fafafa;
  text-align: center;
}
#models h2 {
  padding: 20px;
  font-weight: normal;
}
#models a {
  text-transform: capitalize;
}
.logo_title{
  height: 21px;
}

#models .card img{
  max-width: 100%;
}

.banner {
  height: 370px;
  position: relative;
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#banner img {
  width: 260px;
  padding: 0 30px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
#banner h2{
  text-align: left;
  margin: 80px 30px 30px;
}

#banner .text{
  margin: 80px 30px 30px;
  line-height: 2;
}

#info .row{
  padding: 40px;
}
.smart_mobility{
  position: relative;
  height: 550px;
  padding: 20px;
  background-image: url('../img/scooter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#info  .smart_mobility .text{
  width: 300px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
}

#info h2{
  font-size: 2.5em;
  line-height: 1.2;
  font-weight: normal;
}
#info p{
  padding: 20px;
  line-height: 1.5;
}
#info a{
  color: white;
  text-transform: capitalize;
  padding-left: 10px;
}

#info .card{
  height: 450px;
  text-align: center;
  color: white;
  margin-top: 2rem;
  padding-top: 40px;
}

#info .app > .card {
  background: #374858;
  position: relative;
  overflow: hidden;
}
#info h3{
  font-size: 24px;
}


#info .app > .card img{
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,0);
}

#info .around > .card{
  background-image: url('../img/city.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

#image_social{
  height: 400px;
  position: relative;
  background: grey;
  /* background-image: url('../img/'); */
  background-repeat: no-repeat;
  margin: 2rem 0;
}

.social_text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  background: white;
  padding: 40px 80px;
}
#image_social .icons li {
  text-decoration: none;
  display: inline-block;
}
.icons a{
  color: black;
  font-size: 20px;
}

/* #site_footer */
#site_footer{
  background: black;
  color: white;
  padding-bottom: 100px;
}

#site_footer .footer_header{
  border-bottom: 1px inset #6A6A6A;
  padding: 30px 0;
}

.footer_logo img{
  height: 24px;
  margin-top: 48px;
  cursor: pointer;
}

#site_footer h4{
  text-transform: uppercase;
  margin-top: 50px;
}
.col_footer{
  margin-top: 10px;
}
.col_footer li{
  list-style: none;
  line-height: 2;
}
.col_footer a{
  color: #6A6A6A;
}

#site_footer .icons_white li{
  list-style: none;
  display: inline-block;
}

#site_footer .icons_white a{
  color: white;
}

.conditions{
  height: 100px;
  line-height: 100px;
  padding: 0;
  border-bottom: 1px inset #6A6A6A;
}
.conditions .col-lg-3 > a{
  color: white;
  font-size: 12px;
}

.row .apps {
  text-align: center;
}
.apps img{
  width: 150px;
  border: 1px solid white;
  border-radius: 6px;
  margin: 20px 1rem;
}
